/*
Author: Katie Swanson
Date: 4 / 10 / 2025
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images */
body {
	background-color: #000;
}

body h1 {
	font-family: 'Lobster', sans-serif;
	padding: 4px;
}

img {
	max-width: 100%;
	display: block;
}

/* Style rules for mobile viewport */

/* Style rule for header */
header {
	float: right;
	top: 0;
	background-color: #000;
	height: 190px;
}

header img {
	margin: 0 auto;
	float: right;
	padding: 22% 3% 0% 3%;
	width: 160px;
	height: 160px;
}

/* Style rules for navigation area */
nav {
	padding: 1%;
	margin-bottom: 1%;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	font-size: 1.5em;
	font-family: 'Lobster', sans-serif;
	border-top: 2px solid #de8577;
}

nav li:first-child {
	border-top: none;
	border-bottom: none;
}

nav li:nth-child(3) {
	border-top: 2px solid #d8c380;
	border-bottom: 2px solid #7780de;
}

nav li:last-child {
	border-top: none;
}

nav li a {
	display: block;
	color: #fff;
	padding: 0.5em 1em;
	text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

.desktop {
	display: none;
}

/* Style rules for main content */
main {
	background: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'DM Serif Display', serif;
}

p a {
	color: #fff;
	padding: 10px;
	margin: 2em;
}

#one, #two, #three {
	margin: 0 2%;
}

#one p, #two p, #three p{
	padding: 2%;
	color: #808080;
	background-color: #dedede;
}

#details p, #details h2 {
	margin: 1% 4%;
}

#details p {
	color: #808080;
}

#details ul {
	padding-bottom: 3%;
	color: #808080;
}

#details img {
	margin-top: 5%;
}

#details {
	background: linear-gradient(to bottom, #fff, #fff, #dedede);
}

.round {
	border-radius: 8px;
}

#contact {
	text-align: center;
}

#contact h2 {
	margin-bottom: 5%;
}

#contact .contact-email-link {
	color: white;
	background-color: #2a2a2a;
	text-decoration: none;
	padding: 15px;
	border-image: linear-gradient(to right, #de8577, #d8c380, #7780de) 30;
	border-width: 5px;
	border-style: solid;
}

.map {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #7780de;
	width: 95%;
	height: 400px;
}

.introduction {
	background-color: #2a2a2a;
	border-image: linear-gradient(to bottom, #de8577, #d8c380, #7780de) 30;
	border-width: 10px;
	border-style: solid;
	padding: 1% 2%;
	margin-bottom: 3%;
}

.introduction h1 {
	font-size: 2em;
}

.introduction p, .introduction h1 {
	padding: 2%;
	color: white;
	text-align: center;
}

/* Style rules for footer content */
footer {
	border-image: linear-gradient(to right, #de8577, #d8c380, #7780de) 30;
	border-width: 25px 0px 0px 0px;
	border-style: solid;
}

footer p {
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer p a {
	color: #fff;
	text-decoration: none;
}

/* Media Query for Tablet Viewport*/
@media screen and (min-width: 643px), print {
	
	/* Tablet Viewport: Show tablet-desktop class, hide mobile class*/
	.tablet-desktop {
		display: block;
	}
	
	.desktop {
		display: none;
	}
	
	.mobile {
		display: none;
	}
	
	/* Tablet Viewport: Style rule for header and header/hero img */
	#hero {
	  	position: relative;
	}
	
	.hero-box {
	  	position: absolute;
	  	bottom: 10%;
  	  	background: rgba(10, 40, 20, 0.5);
	}
	
	.hero-box h1 {
	  	color: white;
	  	font-size: 200%;
	  	padding: 0.5em;
	}
	
	header {
		float: right;
		position: static;
		padding-bottom: 2%;
		margin-right: 1em;
	}
	
	header img {
		margin: .5em;
		width: 150px;
		height: 150px;
		padding-right: 3%;
		padding-top: 15%;
	}
	
	.tablet-desktop img {
		border-image: linear-gradient(to right, #de8577, #d8c380, #7780de) 30;
		border-width: 25px 0px 0px 0px;
		border-style: solid;
		margin-left: auto;
		margin-right: auto;
	}
	
	/* Tablet Viewport: Style rules for nav area */
	nav li {
		border-top: none;
		display: inline-block;
		margin-top: 3em;
		margin-bottom: 2em;
	}
	
	nav li:last-child {
		border-left: 2px solid #7780de;
		border-right: none;
	}
	
	nav li:nth-child(3) {
		border-top: none;
		border-bottom: none;
	}
	
	nav li:nth-child(2) {
		border-left: 2px solid #de8577;
		border-right: 2px solid #d8c380;
	}
	
	nav li a {
		padding: 1em 0.5em;
	}
	
	/* Tablet Viewport: Style rules for main content area */
	
	main dl dd {
		color: #808080;
	}
	
	main dl dt {
		font-size: 1.2em;
		padding: 1%;
	}
	
	main dl {
		padding: 15px;
		background-color: #dedede;
	}
	
	#details img {
		max-width: 90%;
		border-image: linear-gradient(to bottom, #de8577, #d8c380, #7780de) 30;
		border-width: 0px 30px 0px 30px;
		border-style: solid;
	}
	
	#details ul {
		margin: 0 0 3% 10%;
	}
	
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1005px), print {
	
	/* Desktop Viewport: Show desktop specific class */
	.desktop {
		display: block;
	}
	
	/* Desktop Viewport: Style rule for header and img */
	.hero-box h1 {
	  font-size: 300%;
	}
	
	header {
		width: 25%;
		float: right;
		padding-bottom: 0;
	}
	
	header img {
		margin: 0 auto;
		float: right;
		padding-top: 5%;
		width: 150px;
		height: 150px;
	}
	
	/* Desktop Viewport: Style tules for nav area */
	nav {
		width: 50%;
		margin: 0em 0.5em 1em 0;
		padding: 0;
		padding-left: 30px;
	}
	
	nav ul {
		text-align: left;
	}
	
	nav li {
		border: none;
	}
	
	nav li:nth-child(2) {
		border-left: none;
		border-right: none;
	}
	
	nav li:last-child {
		border-left: none;
	}
	
	nav li a {
		padding: 0.5em 1em;
	}
	
	nav li a:hover{
		color: black;
		background-color: #d8c380;
	}
	
	#contact .contact-email-link:hover {
		color: black;
		background-color: #bebebe;
	}
	
	/* Desktop Viewport: Style Rules for main content */
	main {
		clear: left;
	}
	
	.gallery {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 5px;
		border-image: linear-gradient(to bottom, #de8577, #d8c380, #7780de, #de8577) 30;
		border-width: 0px 10px 0px 10px;
		border-style: solid;
	}
	
	.image {
		width: 450px;
		height: auto;
	}
	
	#one, #two, #three {
		width: 29%;
		float: left;
		margin: 0 1%;
	}
	
	#one p, #two p, #three p {
		background: none;
		color: #808080;
	}
	
	#one {
		margin-left: 2.3%;
	}
	
	#two {
		border-image: linear-gradient(to bottom, #de8577, #d8c380, #7780de) 30;
		border-width: 0px 4px 0px 4px;
		border-style: solid;
		padding: 0 2%;
	}
	
	#details {
		clear: left;
	}

	.map {
		margin: 5px;
		width: 450px;
		height: 583px;
	}
	
	.introduction {
		height: 600px;
		width: 27%;
		float: left;
		margin: 0 2% 2% 0;
	}
	
	.introduction img {
		padding: 1%;
		border-top: none;
		height: 200px;
		width: 200px;
	}
	
	.introduction h1 {
		font-size: 3em;
		padding-top: 18%;
	}
	
	.introduction p{
		padding: 1% 3% 10% 3%;
	}
	
	main dl {
		height: 175px;
		padding-bottom: 1%;
		text-align: left;
		vertical-align: middle;
		margin-left: 33%;
	}
	
	.desktop img {
		border-image: linear-gradient(to right, #de8577, #d8c380, #7780de) 30;
		border-width: 25px 0px 0px 0px;
		border-style: solid;
		margin-left: auto;
		margin-right: auto;
	}
	
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1900px){
	
	#container {
		width: 1920px;
		margin: 0 auto;
	}
	
}

/* Media Query for Print */
@media print {
	
	body {
		background-color: #fff;
		color: #000;
	}
	
}
