/*
Author: Katie Swanson
Date: 5 / 14 / 2025
File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, h1, div, img, ul {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Style rules for body and images */
body {
	background-color: #000;
}

body h1 {
	font-family: 'Lobster', sans-serif;
	padding: 4px;
}

img {
	max-width: 100%;
	display: block;
}

/* Style rules for mobile viewport */

/* Style rule for header */
header {
	float: right;
	top: 0;
	background-color: #000;
	height: 190px;
}

header img {
	margin: 0 auto;
	float: right;
	padding: 22% 3% 0% 3%;
	width: 160px;
	height: 160px;
}

/* Style rules for navigation area */
nav {
	padding: 1%;
	margin-bottom: 1%;
}

nav ul {
	list-style-type: none;
	text-align: center;
}

nav li {
	font-size: 1.5em;
	font-family: 'Lobster', sans-serif;
	border-top: 2px solid #de8577;
}

nav li:first-child {
	border-top: none;
	border-bottom: none;
}

nav li:nth-child(3) {
	border-top: 2px solid #d8c380;
	border-bottom: 2px solid #7780de;
}

nav li:last-child {
	border-top: none;
}

nav li a {
	display: block;
	color: #fff;
	padding: 0.5em 1em;
	text-decoration: none;
}

/* Show mobile class, hide tablet-desktop class */
.mobile {
	display: block;
}

.tablet-desktop {
	display: none;
}

.desktop {
	display: none;
}

/* Style rules for main content */
main {
	background: #fff;
	padding: 2%;
	font-size: 1.15em;
	font-family: 'DM Serif Display', serif;
}

p a {
	color: #fff;
	padding: 10px;
	margin: 2em;
}

#one, #two, #three {
	margin: 0 2%;
}

#one p, #two p, #three p{
	padding: 2%;
	color: #808080;
	background-color: #dedede;
}

#details p, #details h2 {
	margin: 1% 4%;
}

#details p {
	color: #808080;
}

#details ul {
	padding-bottom: 3%;
	color: #808080;
}

#details img {
	margin-top: 5%;
}

#details {
	background: linear-gradient(to bottom, #fff, #fff, #dedede);
}

.round {
	border-radius: 8px;
}

#contact {
	text-align: center;
}

#contact h2 {
	margin-bottom: 5%;
}

#contact .contact-email-link {
	color: white;
	background-color: #2a2a2a;
	text-decoration: none;
	padding: 15px;
	border-image: linear-gradient(to right, #de8577, #d8c380, #7780de) 30;
	border-width: 5px;
	border-style: solid;
	margin-bottom: 4em;
}

.show {
	/* Styling jQuery notice to click process images for more details */
	font-size: 0.5em;
	color: white;
	background-color: #bababa;
	padding: 15px;
	margin-left: 1em;
}

.show:hover {
	cursor: pointer;
}

.map {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #7780de;
	width: 90%;
	height: 500px;
}

.introduction {
	background-color: #2a2a2a;
	border-image: linear-gradient(to bottom, #de8577, #d8c380, #7780de) 30;
	border-width: 10px;
	border-style: solid;
	padding: 1% 2%;
}

.introduction h1 {
	font-size: 2em;
}

.introduction p, .introduction h1 {
	padding: 2%;
	color: white;
	text-align: center;
}

#discount {
	margin: 0;
	font-size: 1.5em;
}

/* TESTING style rules for main gallery */

/* The Modal (background) */
.modal {
  	display: none; 		/* Hidden by default */
  	position: fixed; 	/* Stay in place */
  	z-index: 1; 		/* Sit on top */
  	padding-top: 50px; 	/* Location of the box */
  	left: 0;
  	top: 0;
  	width: 100%; 		/* Full width */
  	height: 100%; 		/* Full height */
  	overflow: auto; 	/* Enable scroll if needed */
  	background-color: rgb(0,0,0); 		/* Fallback color */
  	background-color: rgba(0,0,0,0.4); 	/* Black w/ opacity */
}

.modal-content {
  	margin: auto;
  	text-align: center;
	max-width: 600px;
}

.modal-image {
  	display: inline-block;
}

/* The Close Button */
.close {
  	color: #000;
	background: #fff;
  	display: block;
  	font-size: 28px;
  	font-weight: bold;
}

.close:hover,.close:focus {
  	text-decoration: none;
  	cursor: pointer;
}

.gallery {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.gallery img {
	cursor: pointer;
}

.boxOfimages .big-img input {
	display: block;
	margin: 0 auto;
	width: 200px;
	margin-bottom: 10px;
}
		
		
.boxOfsmallImgs {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.boxOfsmallImgs img {
	width: 60px;
	opacity: 0.7;
	transition: opacity 0.4s ease;
	margin: 2px;
}
		

.boxOfsmallImgs img:hover {
	opacity: 1;
}

.boxOftext {
	display: flex;
	flex-direction: column;
	align-items: start;
	font-size: 0.8rem;
}
    
.boxOftext h2 {
	padding: 20px 10px;
}

.boxOftext p {
	padding: 10px 10px;
}

/* Style rules for footer content */
footer {
	border-image: linear-gradient(to right, #de8577, #d8c380, #7780de) 30;
	border-width: 25px 0px 0px 0px;
	border-style: solid;
}

footer p {
	font-size: 0.75em;
	text-align: center;
	color: #fff;
	padding: 0 1em;
}

footer p a {
	color: #fff;
	text-decoration: none;
}

/* Media Query for Tablet Viewport*/
@media screen and (min-width: 643px), print {
	
	/* Tablet Viewport: Show tablet-desktop class, hide mobile class*/
	.tablet-desktop {
		display: block;
	}
	
	.desktop {
		display: none;
	}
	
	.mobile {
		display: none;
	}
	
	/* Tablet Viewport: Style rule for header and header/hero img */
	#hero {
	  	position: relative;
	}
	
	.hero-box {
	  	position: absolute;
	  	bottom: 10%;
  	  	background: rgba(10, 40, 20, 0.5);
	}
	
	.hero-box h1 {
	  	color: white;
	  	font-size: 200%;
	  	padding: 0.5em;
	}
	
	header {
		float: right;
		position: static;
		padding-bottom: 2%;
		margin-right: 1em;
	}
	
	header img {
		margin: .5em;
		width: 150px;
		height: 150px;
		padding-right: 3%;
		padding-top: 15%;
	}
	
	.tablet-desktop img {
		border-image: linear-gradient(to right, #de8577, #d8c380, #7780de) 30;
		border-width: 25px 0px 0px 0px;
		border-style: solid;
		margin-left: auto;
		margin-right: auto;
	}
	
	.price-box {
  	  	background: #2a2a2a;
		color: white;
		padding: 0.75em;
		text-align: center;
		border-image: linear-gradient(to right, #de8577, #d8c380, #7780de) 30;
		border-width: 10px;
		border-style: solid;
		width: 70%;
		margin-left: auto;
		margin-right: auto;
		font-size: 1.5em;
		padding-bottom: 2em;
	}
	
	.price-box h1 {
		font-size: 1.7em;
		padding: 0.7em;
	}
	
	#price-title {
	  	position: absolute;
		bottom: 10%;
		color: white;
		background: rgba(10, 40, 20, 0.5);
		padding: 1em;
		border: none;
	}
	
	/* Tablet Viewport: Style rules for nav area */
	nav li {
		border-top: none;
		display: inline-block;
		margin-top: 3em;
		margin-bottom: 2em;
	}
	
	nav li:last-child {
		border-left: 2px solid #7780de;
		border-right: none;
	}
	
	nav li:nth-child(3) {
		border-top: none;
		border-bottom: none;
	}
	
	nav li:nth-child(2) {
		border-left: 2px solid #de8577;
		border-right: 2px solid #d8c380;
	}
	
	nav li a {
		padding: 1em 0.5em;
	}
	
	/* Tablet Viewport: Style rules for main content area */
	
	#accordion {
	  background-color: #eee;
	  color: #444;
	  cursor: pointer;
	  padding: 18px;
	  width: 100%;
	  text-align: left;
	  border: none;
	  outline: none;
	  transition: 0.4s;
	  height: 600px;
	}

	.panel-button:hover {
		background-color: #ccc;
	}
	
	.panel-button {
		padding: 1em;
	}

	.panel {
	  padding: 0 18px;
	  background-color: white;
	  display: none;
	  overflow: hidden;
	  height: 200px;
	}
	
	#details img {
		max-width: 90%;
		border-image: linear-gradient(to bottom, #de8577, #d8c380, #7780de) 30;
		border-width: 0px 30px 0px 30px;
		border-style: solid;
	}
	
	#details ul {
		margin: 0 0 3% 10%;
	}
	
	#special-offer {
		display: flex;
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3em;
	}

	#discount {
		margin: 0;
		font-size: 1.5em;
		text-align: center;
		color: white;
		padding: 1em 1.5em 1em 1em;
		background-color: #bababa;
		clip-path: polygon(100% 0, 90% 50%, 100% 100%, 0% 100%, 0% 0%);
		width: 42%;
	}

	#offerEnds {
		flex: 1;
		text-align: center;
		padding: 1.5em;
		color: white;
		background-color: #bababa;
		clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 50%, 10% 0);
	}
	
	.boxOfimages .big-img input {
		width: 330px;
	}
	
	.boxOfsmallImages img {
		width: 70px;
	}
	
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 1005px), print {
	
	/* Desktop Viewport: Show desktop specific class */
	.desktop {
		display: block;
	}
	
	/* Desktop Viewport: Style rule for header and img */
	.hero-box h1 {
	  font-size: 300%;
	}
	
	header {
		width: 25%;
		float: right;
		padding-bottom: 0;
	}
	
	header img {
		margin: 0 auto;
		float: right;
		padding-top: 5%;
		width: 150px;
		height: 150px;
	}
	
	/* Desktop Viewport: Style tules for nav area */
	nav {
		width: 50%;
		margin: 0em 0.5em 1em 0;
		padding: 0;
		padding-left: 30px;
	}
	
	nav ul {
		text-align: left;
	}
	
	nav li {
		border: none;
	}
	
	nav li:nth-child(2) {
		border-left: none;
		border-right: none;
	}
	
	nav li:last-child {
		border-left: none;
	}
	
	nav li a {
		padding: 0.5em 1em;
	}
	
	nav li a:hover{
		color: black;
		background-color: #d8c380;
	}
	
	#contact .contact-email-link:hover {
		color: black;
		background-color: #bebebe;
	}
	
	/* Desktop Viewport: Style Rules for main content */
	main {
		clear: left;
	}
	
	.large-gallery {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 10px;
		border-image: linear-gradient(to bottom, #de8577, #d8c380, #7780de, #de8577) 30;
		border-width: 0px 10px 0px 10px;
		border-style: solid;
	}
	
	.image {
		width: 450px;
		height: auto;
	}
	
	#one, #two, #three {
		width: 29%;
		float: left;
		margin: 0 1%;
	}
	
	#one p, #two p, #three p {
		background: none;
		color: #808080;
	}
	
	#one {
		margin-left: 2.3%;
	}
	
	#two {
		border-image: linear-gradient(to bottom, #de8577, #d8c380, #7780de) 30;
		border-width: 0px 4px 0px 4px;
		border-style: solid;
		padding: 0 2%;
	}
	
	#details {
		clear: left;
	}
	
	.introduction {
		height: 600px;
		width: 27%;
		float: left;
		margin-right: 1%;
	}
	
	.introduction img {
		padding: 1%;
		border-top: none;
		height: 200px;
		width: 200px;
	}
	
	.introduction h1 {
		font-size: 3em;
		padding-top: 18%;
	}
	
	.introduction p {
		padding: 1% 3% 10% 3%;
	}
	
	.desktop img {
		border-image: linear-gradient(to right, #de8577, #d8c380, #7780de) 30;
		border-width: 25px 0px 0px 0px;
		border-style: solid;
		margin-left: auto;
		margin-right: auto;
	}
	
	.boxOftext {
		display: flex;
		flex-direction: column;
		align-items: start;
		font-size: 0.8em;
	}
	
}

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1900px){
	
	#container {
		width: 1920px;
		margin: 0 auto;
	}
	
}

/* Media Query for Print */
@media print {
	
	body {
		background-color: #fff;
		color: #000;
	}
	
}
